<h3>Difference between Data Attribute and Method

In [7]:
import numpy as np # importing numpy

In [8]:
# Two sample numpy arrays (two objects)
x = np.array([1,3,5])
y = np.array([1,5,9])

In [9]:
# Mean of the numbers in the arrays (Method/Function)
# Methods always have parenthesis
x.mean()

3.0

In [10]:
y.mean()

5.0

In [11]:
# Size of both the arrays (Data Attribute)
# Data Attributes have no parenthesis
x.shape

(3,)

In [12]:
y.shape

(3,)

<h3> Python Modules

In [16]:
# Importing math module
# All Mathematical operations can be done
import math

In [17]:
# Directly using the value of Pi
math.pi

3.141592653589793

In [18]:
# Square Root Function
math.sqrt(10)

3.1622776601683795

In [19]:
# Value of sin(pi/2)
math.pi/2 # Value of Pi/2

1.5707963267948966

In [20]:
# Taking the sin
math.sin(math.pi/2)

1.0

In [21]:
# If we want to import just a single operation/value from a module
# For example we wanna use just pi from the math module and nothing else
from math import pi
pi # Here we can now use pi without including the module name (math.pi doesn't need to be used)

3.141592653589793

<h3> Namespaces </h3>
    
Namespaces are containers of names of objects which typically go together. 
Main aim of namespaces is to prevent naming conflicts.
    
Once a module is imported into python, a seperate namespace is created for that module and all the methods/functions associated with that module are executed in its particular namespace.

In [22]:
# Example: Both math and numpy modules have the square root function. Both look the same at initial glance
# They exist in different namespaces
import math
import numpy as np

In [23]:
# Finding Square Root of 9 using math module
math.sqrt(9)

3.0

In [24]:
# Finding Square Root of 9 using numpy module
np.sqrt(9)

3.0

In [27]:
# Where Do they differ?
# numpy module square root can doa lot of things math module square root can't
# Example: numpy square root can find out the sqrt of multiple values at once but math sqrt can not
np.sqrt([10,9,17])

array([3.16227766, 3.        , 4.12310563])

In [26]:
math.sqrt([10,9,17]) # Doesnt work

TypeError: must be real number, not list

<h3> Defining the type of the object and methods available to us for each object </h3>

In [28]:
# String
name = "Ashu"

In [29]:
# Type function
type(name) # Output: str (String)

str

In [30]:
# We can use dir to explore what methods we can use on the defined object
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [31]:
# Alternatively we can just do the same for strings in general
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [32]:
# Parenthesis should be taken care of when using methods on an object
# Suppose we want to find out what the 'upper method' does
help(name.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [33]:
# So we know name.upper will give ASHU as the output
name.upper()

'ASHU'

In [34]:
# Very Important: if we use this
help(name.upper())
# It will show no results since here we are effectively finding help for ASHU instead of upper
# Whenever we apply parenthesis with the methods, we are calling those methods and Python executes them

No Python documentation found for 'ASHU'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

<h3> Types of Numbers in Python </h3>

There are 3 types of numbers in pyhton:
* Integers
* Floating Point Numbers
* Complex Numbers

Python integers have infinite precision i.e. no integer is too long to fit into Python's integer type.

In [1]:
# Basic Mathematical Operations
123 + 21

144

In [2]:
 123*34

4182

In [3]:
4182*34

142188

In [4]:
123**34 # ** means raised to the power of

113965602005968684136628000184496763088921243891670079405854808234118809

In [8]:
123**340
# Basically, the point is that however long the integer is, it can be stored and operated on in Python (infinite precision)

369605043991517498309321770153515768959333235183449940293512656282988146628985675725772651889296931897093646783185776727893691566496103666240193110526706133777054655335516602676288290960327688318168724018982211975493206241924966262914690892820785494811551069735565682343037943834764093485704425051057132755753104272983834039028350769615914559315676748388553914217244332116716386644381919901708113967998169625368833738312812418247458222344807676840653491670779617760556766725094895290508402598186536833756858868965009556391097183345354385639656615530144150926579926498683959987807250451608804356657546028260432473146644295644308157319536582622214466304815868115088617654648010591593643768841672431537178808516401

In [9]:
6/7 # Floating point answer (with a decimal point)

0.8571428571428571

In [10]:
# Floor Division/integer division: After division, Python rounds up the answer to the closest integer which is smaller than the actual
# answer (integers larger than the actual answer are not considered)
# For Eg:
123//32

3

In [11]:
123/32

3.84375

In [3]:
# Underscore (_) returns the last operation carried out by us
# For eg:
15/2.4

6.25

In [4]:
# Now we want to use the previous answer for the next operation
_/2.4
# In this case, _ represents the last operation value/answer which in this case was 6.25

2.604166666666667

In [16]:
 # Suppose we want to compute 3!
import math # importing math module
math.factorial(4) # Factorial is the method inside the math module

24

<h3> Random Choice </h3>

We sometimes want to do some randomta with the objects we have.
For eg: A random sampling process

In [19]:
# Suppose we have a list of numbers and we want to pick up some random number from the list. 
import random # Importing the random module
list = ([12,34,56,11])
random.choice(list)

12

In [20]:
random.choice(list)

56

In [21]:
random.choice(list)

56

In [22]:
random.choice(list)
# Each time the command is run, it gives a random number out of the given list

11

In [23]:
# Python usually doesnt care about the nature of the objects it is dealing with and ususally works the same way for all types
# of objects.
# For example, we can use the random choice method for a list of strings too
list_str = (["aa","ab","cc","de"])
random.choice(list)

11

In [24]:
random.choice(list_str)

'cc'

In [25]:
random.choice(list_str)

'aa'

In [26]:
random.choice(list_str)

'cc'

<h3> Expressions and Booleans </h3>

Expressions usually contain booleans.

Bollean Types: 'True' and 'False'.

The T and the F need to be capitalized in order for Python to understand that these are of Boolean type.

Very Very Important: True->Bollean but 'True'->String

In [1]:
# Observing the type of data
type('True') # String

str

In [2]:
type(True) # Boolean

bool

In [3]:
type(true) # Python won't recognise this

NameError: name 'true' is not defined

<h3> Boolean Types </h3>

* OR
* AND
* NOT

In [4]:
# Testing OR logic
True or False # Will be True (1)

True

In [5]:
# Testing OR logic
False or False # Will be False (0)

False

In [6]:
# Testing AND logic
True and False # Will be False (0)

False

In [7]:
# Testing AND logic
True and True # Will be True (1)

True

In [8]:
# Testing NOT logic
not True # Will be False (0)

False

<h3> Comparison Types in Python </h3>

The results of comparison are usually in boolean format (i.e. True or False)

In [9]:
# Basic Comparisons
2<4

True

In [10]:
# Basic Comparisons
2 == 2

True

In [11]:
# Basic Comparisons
2!=2

False

Comparisons are only used to compare the **contents** of the objects and not the objects themselves.

In [14]:
# Example
aa = [2,3,4] # First Array

In [15]:
bb = [2,3,4] # Second Array (having same values as the first array)

In [16]:
aa == bb # Is aa equal to bb
# True since both have the same content

True

In [17]:
# But are aa and bb the same objects?
# aa and bb are different objects as they have been defined seperately
# To compare whether they are the same object:
aa is bb # False since aa and bb are different objects

False

In [18]:
aa is not bb # True since aa and bb are different objects

True

<h4> Difference between `is` and == </h4>

is compares the **identity** of two objects (whether they are the same object), while == compares the **value** of two objects (whether thy have the same content).

In [19]:
# Example
# Comparing 2 and 2.0
# 2 is an integer and 2.0 is a floating point number
2 == 2.0
# The result is True. Python implicitly converts the integer number into a floating point number (2->2.0)

True

In [20]:
# Example
True and not False is True
# Breakdown:
# not False -> True
# True and True is True
# True and True -> True
# True is True -> True
# Result: True

True

<h2> Sequence Objects </h2>
<h3> Sequences </h3>

Types of sequences in Python:
* Lists
* Tuples (Column Vectors)
* Range Objects
* Strings

All sequence datatypes support the common sequence operations/methods, but each type of sequence datatype has its own exclusive operations/methods too.

**Important Points**:
* Indexing starts from 0 (like Java and C, unlike Matlab)
* We can access sequence elements left to right (Index 0 to n-1) OR right to left (Index -1 to -n)

<h3> Slicing of Sequences </h3>
Like in Matlab, we can slice the sequences by picking up a range of elements only

`s = some sequence, s[Start Index : Stop Index]`

This will give us the elements of the sequence from the Start Index to the index **just before** the stop index i.e. **it doesn't give us the stop index**.

In [2]:
s = [1,2,3,4,5,6] # List
# Attempting Slicing operation
a = s[0:5] # a should be [1,2,3,4,5] i.e. till Index 4 of s
print(a) # Printing/displaying the list a (object)

[1, 2, 3, 4, 5]

In [2]:
# Length of list a
len(a)

5

In [13]:
# Accessing last element of array
s[-1]
# Accessing second last element of array
s[-2]
# Accessing fourth last element of array
s[-4]

3

In [6]:
# Accesing first element of array
s[-0] # s[0] works too

1

In [14]:
# Slicing Example
s[-0:0] # This returns a null array since the stop index (0) is not included in the range while slicing

[]

<h3>Lists</h3>

* Lists are mutable sequence objects of any data type
* Usually used to store **HOMOGENEUOS** items/data

<h4> Major Differences between Strings and Lists</h4>

* Strings usually store only character type of data whereas lists can store data of any type (for eg, strings, tuples, intergers etc.)
* Strings are **Immutable** i.e. can not be modified during the program execution whereas lists are **Mutable**.
* Both strings and lists have methods exclusive to them

In [16]:
# Example List
numbers = [1,4,6,3]
# Appending/adding a number to the list
numbers.append(10) # where append() is a method exclusive to lists which append the numbers to the list
numbers

[1, 4, 6, 3, 10]

In [18]:
# Concatinating multiple lists
numbers2 = [6,5,4,1]
numbers_concat = numbers + numbers2 # '+' concatinates lists together
numbers_concat # the concatinated list is now another seperate list

[1, 4, 6, 3, 10, 6, 5, 4, 1]

In [19]:
# VV IMPORTANT: list methods are 'In-Place Methods' -> The methods modify the original list (and it is possible since lists are 
# mutable objects)
# Example: reversing the content order of the list
numbers.reverse() # this will modify the original list 'numbers'
numbers

[10, 3, 6, 4, 1]

In [22]:
numbers_rev = numbers.reverse()
print(numbers_rev) # if a new list is actively assigned to the reverse method, Python doesn't return any new list

None

In [24]:
# SORTING OF LISTS
names = ["Ashutosh","Mukherjee","Rony","Anjalika","Rini"]
names.sort() # This sorts the names in the list in Alphabetical order
# Since sort() is a list method, the original names list is modified
names

['Anjalika', 'Ashutosh', 'Mukherjee', 'Rini', 'Rony']

In [25]:
# If we want to create an entirely new list which contains the sorted elements of the original list we use: sorted()
names.reverse() # Reversing the alphabetical order of names in the original list
names_sorted = sorted(names) #names_sorted is a new list which contains the sorted elements of the original list
names_sorted

['Anjalika', 'Ashutosh', 'Mukherjee', 'Rini', 'Rony']

In [26]:
names # and the original list stays the same (unsorted)

['Rony', 'Rini', 'Mukherjee', 'Ashutosh', 'Anjalika']

In [27]:
len(names) # Length of the list

5

<h3> Tuples </h3>

* Tuples are **immutable** sequences used to store **Heterogenous data**
* Can be thought of as generalized data column vectors
* Useful when we want a Python function to return multiple objects
    * In that case, those multiple objects are wrapped up in a tuple (like a burrito) and the tuple is returned

In [28]:
# Constructing a Tuple
T = (1,2,3,5,4)
len(T) # Length of the tuple

5

In [29]:
T + (7,6,9) # Concatinating 2 tuples

(1, 2, 3, 5, 4, 7, 6, 9)

In [30]:
T[4] # 5th element of tuple

4

In [32]:
# Packing of Tuples
x = 2.1
y = 3.8
# The above two defined objects (with floating data types) can be packed in a tuple representing something like Coordinates
coordinate = (x,y) # coordinate is a tuple
print(coordinate)

(2.1, 3.8)

In [33]:
# Unpacking of Tuples
# we now want to decompose the coordinate tuple
(c1,c2) = coordinate

In [35]:
c1 # x coordinate

2.1

In [36]:
c2 # y coordinate

3.8

In [44]:
# Example: we have multiple coordinates
# How are the multiple coordinates stored: A list containing multiple tuples and each tuple representing a 2D coordinate
coord = [(0,0),(2,4),(8,4),(12,6),(4,12),(6,9)]
# looping over coordinates
for (i,j) in coord: # a tuple (i,j) is looping over all the tuples contained in the list 'coord'
    print(i+1,j+1)

1 1
3 5
9 5
13 7
5 13
7 10

In [45]:
# Tuples having only one object
c = (2,3) # two objects
type(c)

tuple

In [46]:
c = (2) # one object
type(c) # The object type shown here for c is now 'integer' which is not what we wanted

int

In [47]:
c = (2,) # Correct syntax for a tuple having only one object
type(c) # Now the object type of c is a tuple

tuple

In [49]:
# If we wanted to add another element to the tuple
c.append(4) # won't work and shows error
# Tuples (unlike lists) are immutable and can't be modified once they have been created

AttributeError: 'tuple' object has no attribute 'append'

In [51]:
# Alternative: create a new concatinating tuple
d = (4,)
e = c + d
e # e is a new tuple containing the additional element

(2, 4)

In [55]:
# If we want to count the number of times 4 appears in the tuple e
e.count(4)

1

In [57]:
# If we want to add all the elements of tuple e and get the sum
sum(e)

6

<h3> Range Objects </h3>

* **Immutable** sequences of **integers**.
* Commonly used in `for` loops
* Input-> Stopping value **(not index)**
* Ranges always stop just before the stopping value i.e. the stopping value is not included in the range

In [58]:
range(5) # Stopping Value: 5
# range(5) can be written as range(0,5) also
# The range will be: 0,1,2,3,4

range(0, 5)

In [60]:
list(range(0,5)) # The range is converted into a list

[0, 1, 2, 3, 4]

In [61]:
list(range(1,6)) # Expected output: [1,2,3,4,5], 6 not included

[1, 2, 3, 4, 5]

In [63]:
# Step Size of range = 2
list(range(0,10,2)) # expected output: [0,2,4,6,8]
list(range(1,10,2)) # expected output: [1,3,5,7,9]

[1, 3, 5, 7, 9]

<h4> Using lists or ranges in for loops? </h4>

Both can be used but using ranges is much more computationally beneficial. To store a range object, python stores only 3 values:
        
* Start Value
* Stop Value
* Step Size

But for lists, Python has to store all the indices of the list to access the elements of the list.

This difference becomes relevant and tangiblw when we are looping over many elements for eg. 10 million elements. In such case, using ranges helps us in saving a lot of memory.

<h3> Strings </h3>

* Immutable sequence objects for storing only character data types
* ''and ""  both work

In [65]:
st = 'Python'
st

'Python'

In [66]:
# Accessing the 2nd element of string
st[1]

'y'

In [67]:
# Accessing the last element of string
st[-1]

'n'

In [68]:
# Accessing the first 3 elements of string
st[0:3]

'Pyt'

In [69]:
# Accessing the last 3 elements of string
st[-3:]

'hon'

In [70]:
# Slicing the string
st1 = st[0:3]
st1

'Pyt'

<h3> Polymorphism </h3>

Definition: ***What an operator does depends on the object it is being applied to***.

For eg, in mathematics, multiplication operator when applied on scalars vs when applied on matrices behaves very differently. Similarlym in OOP, the oeprators/methods/function behaviors depend on the object they are being applied on.

<h4> Polymorphism in Strings </h4>

The `+` operator when applied on integers or floating point numbers just adds them up, but it does the operation of **concatination** when it is applied on multiple strings.

In [72]:
# Example
str1 = 'I'
str2 = 'Love'
str3 = 'Python'
str_con = str1 + str2 + str3
str_con

'ILovePython'

In [75]:
# Example
str4 = 'Trippy'
str_con = 3*str4 # This is equivalent to saying: str4 + str4 + str4
str_con # Expected Output: TrippyTrippyTrippy

'TrippyTrippyTrippy'

In [1]:
# Concatinating a string and a integer
# Example:
ans = 8
'The result is' + ans # This doesn't work since ans is an integer and integers can't be concatenated to strings
# The above command works in Java though

TypeError: can only concatenate str (not "int") to str

In [4]:
# We have to explicitly convert the integer into a string and then concatinate it
'The result is: ' + str(ans)

'The result is: 8'

In [5]:
# Attributes available for strings
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [6]:
# Seeking info on a particular method for strings
help(str.replace) # Gives a brief description of the method
# str.replace? pr info(str.replace) will also work

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [8]:
# Example
name = 'Ashutosh Mukherjee'
# Replacing the capital M with a small m
new_name = name.replace('M','m') # Since strings are immutable objects, Python returns a completely new string with the
# Ms replaced
name # The original string will still stay the same

'Ashutosh Mukherjee'

In [9]:
new_name # The new string will have the replacement

'Ashutosh mukherjee'

In [10]:
# Splitting the strings -> Always require a character about which the splitting is to be done
# We split the first name and the last name
names = name.split(' ') # Split the names about the space between the first and last names
names # Split method returns a list woth strings as its elements

['Ashutosh', 'Mukherjee']

In [11]:
type(names) # Object Type
# The split strings are now stored in a seperate list 'names'

list

In [12]:
names[1] # Mukherjee

'Mukherjee'

In [13]:
names[0] # Ashutosh

'Ashutosh'

In [14]:
type(names[0])

str

In [24]:
# Turning vorname into all uppercase
vorname = names[0].upper()


# Turning nachname into all lowercase
nachname = names[1].lower()

# Remember that strings are immutable, Python will return new strings when we upper() or lower() them

In [25]:
vorname

'ASHUTOSH'

In [26]:
nachname

'mukherjee'

In [27]:
# Returning 0 to 10 in a single string
# Desired output -> '0123456789'
'0' + '1' + '2' + '3' + '4' + '5' + '6' + '7' + '8' + '9' # This command works fine

'0123456789'

In [29]:
str(range(0,10)) # This doesn't give the desired output since range(0,10) is not actually a list but just a range

'range(0, 10)'

In [31]:
import string # Using string library/module
string.digits # This prints out the digits from 0 to 9

'0123456789'

In [33]:
help(string) # Info on the string module

Help on module string:

NAME
    string - A collection of string constants.

MODULE REFERENCE
    https://docs.python.org/3.8/library/string

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    Public module variables:

    whitespace -- a string containing all ASCII whitespace
    ascii_lowercase -- a string containing all ASCII lowercase letters
    ascii_uppercase -- a string containing all ASCII uppercase letters
    ascii_letters -- a string containing all ASCII letters
    digits -- a string containing all ASCII decimal digits
    hexdigits -- a string containing all ASCII hexadecimal digits
    octdigits -- a string containing all ASCII octal digits
    punctuation -- a string containing all ASCII punctuation characters
    printable -- a string containing all ASCII characters considered printable

CLASSES
    builtins.object
        Formatter
        Template

    class Formatter(builtins.object)
     |  Methods defined here:
     |
     |  check_unused_args(self, used_args, args, kwargs)
     |
     |  convert_field(self, value, conversion)
     |
     |  format(self, format_string, /, *args, **kwargs)
     |
     |  format_field(self, value, format_spec)
     |
     |  get_field(self, field_name, args, kwargs)
     |      # given a field_name, find the object it references.
     |      #  field_name:   the field being looked up, e.g. "0.name"
     |      #                 or "lookup[3]"
     |      #  used_args:    a set of which args have been used
     |      #  args, kwargs: as passed in to vformat
     |
     |  get_value(self, key, args, kwargs)
     |
     |  parse(self, format_string)
     |      # returns an iterable that contains tuples of the form:
     |      # (literal_text, field_name, format_spec, conversion)
     |      # literal_text can be zero length
     |      # field_name can be None, in which case there's no
     |      #  object to format and output
     |      # if field_name is not None, it is looked up, formatted
     |      #  with format_spec and conversion and then used
     |
     |  vformat(self, format_string, args, kwargs)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class Template(builtins.object)
     |  Template(template)
     |
     |  A string class for supporting $-substitutions.
     |
     |  Methods defined here:
     |
     |  __init__(self, template)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  safe_substitute(self, mapping={}, /, **kws)
     |
     |  substitute(self, mapping={}, /, **kws)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  braceidpattern = None
     |
     |  delimiter = '$'
     |
     |  flags = re.IGNORECASE
     |
     |  idpattern = '(?a:[_a-z][_a-z0-9]*)'
     |
     |  pattern = re.compile('\n    \\$(?:\n      (?P<escaped>\\$)...ced>(?a:[...

FUNCTIONS
    capwords(s, sep=None)
        capwords(s [,sep]) -> string

        Split the argument into words using split, capitalize each
        word using capitalize, and join the capitalized words using
        join.  If the optional second argument sep is absent or None,
        runs of whitespace characters are replaced by a single space
        and leading and trailing whitespace are removed, otherwise
        sep is used to split and join the words.

DATA
    __all__ = ['ascii_letters', 'ascii_lowercase', 'ascii_uppercase', 'cap...
    ascii_letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
    ascii_lowercase = 'abcdefghijklmnopqrstuvwxyz'
    ascii_uppercase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    digits = '0123456789'
    hexdigits = '0123456789abcdefABCDEF'
    octdigits = '01234567'
    printable = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTU...
    punctuation = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    whitespace = ' \t\n\r\x0b\x0c'

FILE
    c:\users\hp\anaconda3\envs\cie21\lib\string.py

In [38]:
# Finding whether a string contains only digits
x = '125,000'
x.isdigit() 
# isdigit returns true if the all the characters in the string are digits
# For this case it returns False since x contains a ','
# if x was 125000, then the method would return true

True

In [37]:
help(str.isdigit)

Help on method_descriptor:

isdigit(self, /)
    Return True if the string is a digit string, False otherwise.

    A string is a digit string if all characters in the string are digits and there
    is at least one character in the string.

<h3>Sets</h3>

Sets are **unordered sets of distinct hashable objects**.

**Crux**: *Sets can be used for immutable objects (like strings and tuples) but not for mutalble objects (like lists and dictionaries)*

<h4>Types of Sets</h4>

* Sets: is mutable once created
* Frozen Sets: is immutable once created

Since sets are unordered collection of objects, the elements inside a set can not be indexed i.e. **the objects inside the sets have no location**.

**Objects inside a set can not be duplicated i.e. all objects inside a set are distinct and unique.**

Traditional mathematical set operations can be performed using sets in Python.

In [39]:
# Creating an empty set
ids = set()

In [41]:
# Initial Set
ids = set([1,2,3,4,6,7,8,9]) # These are the object IDs (important)
# length of set
len(ids)

8

In [43]:
# Adding another object (its ID) to the set
ids.add(10) # an object with ID 10 is added to the set
ids

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [44]:
ids.add(2) # adding an object with the same number (2)
ids # nothing happens or changes since sets can't have duplicate objects

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [45]:
# Removing objects from the set
ids.pop() # a random object is removed from the set

1

In [46]:
ids.pop() # a random object is removed from the set

2

In [47]:
ids.pop() # a random object is removed from the set

3

In [48]:
ids # Set after removing the objects

{4, 6, 7, 8, 9, 10}

In [50]:
# Example
ids = set(range(0,10)) # the set has objects with numbers from 0 to 9 (10 not included)
ids

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [53]:
# Out of this set, some objects are males and some are female
# The male set
males = set([1,3,5,6,7]) # Objects with numbers 1,3,5,6,7 are males
males

{1, 3, 5, 6, 7}

In [54]:
# The female set
females = ids - males
females

{0, 2, 4, 8, 9}

In [55]:
type(females)

set

In [56]:
# Set operations
# Union operation
everyone = males|females # | is the symbol for set union
everyone

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [57]:
# Set intersection
s = set([1,2,4])
# Finding inersection between 'everyone' and 's' sets
everyone&s # & is the symbol for set intersection

{1, 2, 4}

In [58]:
# Counting the number of unique letters in a word 
word = 'antidisestablishmentariansim' # a complex word as a string
# constructing a set from the given word
letters = set(word) # This basically stores each and every UNIQUE character as a different object in the 'letters' set
letters

{'a', 'b', 'd', 'e', 'h', 'i', 'l', 'm', 'n', 'r', 's', 't'}

In [60]:
# since all objects are unique inside a set, we can just simply count the numbers in the constructed set and that will be the 
# number of unique letters in the given word
numUnique = len(letters)
numUnique

12

In [63]:
# Example
x = set([1,2,3])
y = set([2,3,4])

# Desired output-> {4}

# Intersection of sets
int1 = x&y
int1
int2 = y - int1
int2

# or shorthand: y - x&y

{4}

In [72]:
# Desired output-> {1,4}
(x|y) - (x&y)

{1, 4}

In [73]:
# Directory of attributes available for sets
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [74]:
# We want to determine if all elements of set x are in set y
# i.e. if set x is a subset of set y
help(set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

In [76]:
x.issubset(y)
# Since x is not a subset of y, False is returned

False

<h3>Dictionaries</h3>

Dictionaries are mappings from key values to value objects. **Keys are immutable, and values can be anything and are immutable**. Dictionaries consist of ***Key:Value Pairs***.

Dictionaries can be used to perform very fast lookups on undordered data.

Since dictionaries are not sequences, there is no actual (left to right or vice versa) order for dictionaries. So if we loop over dictionaries, the looping is done in a very arbritary order.

***For Example***:
*Which of the following data structures may be used as keys in a dictionary?*

* Strings
* Lists
* Tuples

**The answer is strings and tuples since keys are immutable ans strings and tuples are immutable data structures/objects. Lists are mutable data structures/objects and thus can not be used as keys in a dictionary.**

***While the individual keys of the dictionaries can't be changed since they are immutable, the dictionaries themselves can be changed and new keys (and their correspinding mutable values) can be added***

In [78]:
# Sample dictionary
a = {} # empty dictionary
# OR
a = dict() # empty dictionary
age = {'Tim':29,'Jim':31,'Pam':34,'Sam':35} # Key Variable : Value
age

{'Tim': 29, 'Jim': 31, 'Pam': 34, 'Sam': 35}

In [79]:
# We want to look up someone's age
age['Pam'] # Pam's age
# Python returns the value corresponding to the key 'Pam'

34

In [80]:
# Modifying values in a dictionary
age['Tim'] = age['Tim'] + 10 # Increasing the age of Tim by 10 years
age['Tim']

39

In [82]:
# Finding out what all values are in the dictionary
age.values()

dict_values([39, 31, 34, 35])

In [83]:
# Finding out what all keys are in the dictionary
age.keys()

dict_keys(['Tim', 'Jim', 'Pam', 'Sam'])

In [85]:
# When we use keys() or values() methods on the dictionary, Python returns a special type of object called 'Views object'
# Views objects provide a dynamic view of the keys or the values in a dictionary
names = age.keys()
type(names) # dict_keys

dict_keys

In [86]:
# Adding another person to the dictionary
age['Tom'] = 50 # A 50 year old Tom is added to the dictionary
age

{'Tim': 39, 'Jim': 31, 'Pam': 34, 'Sam': 35, 'Tom': 50}

In [87]:
names = age.keys()
names # Observation: as the dictionary is modified, the view object will also change automatically

dict_keys(['Tim', 'Jim', 'Pam', 'Sam', 'Tom'])

In [88]:
ages = age.values()
ages

dict_values([39, 31, 34, 35, 50])

In [89]:
# Adding a 30 year old person named Nick in the dictionary
age['Nick'] = 30
age

{'Tim': 39, 'Jim': 31, 'Pam': 34, 'Sam': 35, 'Tom': 50, 'Nick': 30}

In [90]:
# Showcasing spontaneous changes in the view objects 
names = age.keys()
names

dict_keys(['Tim', 'Jim', 'Pam', 'Sam', 'Tom', 'Nick'])

In [91]:
# Showcasing spontaneous changes in the view objects 
ages = age.values()
ages

dict_values([39, 31, 34, 35, 50, 30])

In [92]:
# Testing for membership of a dictionary
# We want to know whether Tom is a member of the dictionary
'Tom' in age # True

True

In [93]:
'Sofia' in age # False

False

In [19]:
import random
import numpy as np
# A dictionary where floating numbers are the keys and np arrays are values
# Initialising an empty dictionary
dictA = {}
# Size of dictionary
n = 5
# Array
arrA = random.random()*np.ones((n,1,2))
# arrA
# arrA[1]

for ii in range(0,n):
    dictA[ii] = arrA[ii] # Here interger numbers are keys and numpy arrays are values
    # dictA[arrA[ii]] = ii # Trial for numpy arrays being the keys and the integer numbers being the values -> Not Working
    
# dictA

# Obtaining the values of the dictionary as a seperate list
arrays = list(dictA.values()) # Typecasting the dictionary values to lists
arrays # Arrays is now a list which has numpy arrays as its elements
# type(arrays)

# Obtaining the keys of the dictionary as a seperate list
nums = list(dictA.keys())
nums
type(nums)

list

<h2>Manipulating Objects</h2>

<h3>Dynamic Typing</h3>

Any information in the computer is stored in binary (`{010110010101}`) for example. A datatype tells the computer the following things:

* The computer needs to read the binary data in blocks of say 32 bits (or 64 bits).
* What kind of data the binary data represent.

**Typing/Data Type Assignment**: Done in order to ensure that the part of the program reading/receiving the data knows how to interpret the data.

C/C++: *Statically Typed*: Type checking performed during code compilation.
Pyhon: *Dynamically Typed*: Type checking is performed during run time.

**Example**:

How does Python interpret the following:
`x=3`.

Three important parameters: Vatiable, Object, Reference

* *Step 1*: Python creates an object (`3`)
* *Step 2*: Python creates a variable name `x`
* *Step 3*: The variable name is referenced to the object (`x->3`)

**Important**: Variable names and objects are stored in different parts of the memory. Variable names can be referenced to objects only, not to other objects.

**Illustration of Dyanamic Typing for immutable objects (eg. numbers)**:

`x=3
y=x
y=y-1`

* *Step 1*: Python creates an object (`3`)
* *Step 2*: Python creates a variable name `x`
* *Step 3*: The variable name is referenced to the object (`x->3`)
* *Step 4*: Python creates a variable name `y`
* *Step 5*: The variable name is referenced to the object to which `x` is referring (`y->3`)
* *Step 6*: Since numbers are immutable objects, a new object is created (`2`)
* *Step 7*: The variable `y` is referenced to this new object (`2`)

*Final Result*: `x=3,y=2`

**Illustration of Dyanamic Typing for mutable objects (eg. lists)**:

`L1 = [2,3,4]
L2=L1
L1[0] = 24`

* *Step 1*: Python creates an object (`[2,3,4]`)
* *Step 2*: Python creates a variable name `L1`
* *Step 3*: The variable name is referenced to the object (`L1->[2,3,4]`)
* *Step 4*: Python creates a variable name `L2`
* *Step 5*: The variable name is referenced to the object to which `L1` is referring (`L2->[2,3,4]`)
* *Step 6*: Since lists are mutable objects, no new object is created but the already existing list object is modified with its first element being changed to 24.
* *Step 7*: Now both variable names `L1` and `L2` refer to the same modified object.

*Final Result*: `L1 = [24,3,4], L2 = [24,3,4]`

In [2]:
# Illustration of the above example
L1 = [2,3,4]
L2 = L1

L1[0] = 24

In [3]:
L1

[24, 3, 4]

In [4]:
L2

[24, 3, 4]

<h4>3 main components of objects</h4>

* Type
* Value
* Identity

**Mutable objects can be identical in content and still be different objects**

In [5]:
# Example
L = [1,2,3]
M = [1,2,3]

In [6]:
# Comparing their content
L == M # True

True

In [7]:
# Comparing their identity
L is M # False

False

**ID Function**: Using this we can obtain the ID of the object. The ID of the object refers to its location in the memory.
Different objects have different IDs.

In [8]:
# Obtaining ID of objects and comparing them
id(M) == id(L) # False, since they are different objects, they will have different IDs
# id(M) == id(L) is equivalent to L is M

False

In [9]:
# Alternative scenario
A = [1,2,3]
B = A
# In this case both A and B refer to the same object so they will be same in content and object

In [10]:
# Comparing their content
A == B # True

True

In [11]:
# Comparing their object IDs
A is B # True

True

In [12]:
# What is we want to explicitly create a new object
C = [1,2,3]
D = list(C)
# A new list object is created to which variable name D points. Content wise both the objects are the same.

In [14]:
# Comparing their content
C == D # True

True

In [15]:
# Comparing their identity
C is D # False

False

<h3>Statements</h3>

**Some Examples**:

* `return`: used to return values from a function
* `import`: used to import different modules
* `pass`: used to do nothing, where we need a placeholder for syntactical reasons

**Compound Statements**: These contain groups of other statements and they affect the control or execution of those statements in some manner. 

Compound statements consists of one or more clauses, and a clause consists of a header and a block of code.

In [19]:
# Example of a Compound Statement:
x=2
y=1
if x>y: # Header (either True or False)
    # Code Block
    difference = x-y
    print('x is greater than y')
print('This gets printed no matter what')

x is greater than y
This gets printed no matter what

In [20]:
if False:
    print('False!')
elif True:
    print('Now True!')
else:
    print('Finally True!')
    
# Now True! is printed since True is the default state

Now True!

<h3>For and While Loops</h3>

**Basic Syntax of FOR Loop**:

`for <looping variable> in <some range>:
      statement`

In [22]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [23]:
# A given dictionary
diction = {'Tim':23,'Jim':30,'Pam':32,'Sam':35,'Tom':25}
names = diction.keys() # Obtaining only the keys from the dictionary
type(names)

dict_keys

In [24]:
for name in names:
    print(name)

Tim
Jim
Pam
Sam
Tom

In [28]:
# Alternative
names = list(names) # Converting the dictionary keys object to a list object
for i in range(len(names)): # The range consists of the same number of elements as the length of the list object
    print(names[i])

Tim
Jim
Pam
Sam
Tom

In [30]:
diction['Jim'] # references to the corresponding value (age)

30

In [33]:
for name in diction.keys(): # the name variable loops over all the keys (names) in the dictionary
    print(name,diction[name])

Tim 23
Jim 30
Pam 32
Sam 35
Tom 25

In [34]:
# Looping over an alphabetically sorted name list
for name in sorted(diction.keys()):
    print(name,diction[name])

Jim 30
Pam 32
Sam 35
Tim 23
Tom 25

In [35]:
# Looping over an alphabetically reversed name list
for name in sorted(diction.keys(), reverse=True):
    print(name,diction[name])

Tom 25
Tim 23
Sam 35
Pam 32
Jim 30

**How to differentiate when to use a FOR loop and a WHILE Loop**:

Usually if in a loop, we don't know exactly how many times we need to iterate (suppose ietration has to carry on until a tolerance value is reached and we don't know when that tolerance value will be reached) then we prefer a while loop, but if we know exactly how many times we need to run the iterations, then in that case usinf for loop is preferred.

In [39]:
# Example
bears = {"Grizzly":"angry", "Brown":"friendly", "Polar":"friendly"}
for bear in bears: # for bear in bears.keys() will work too
    if bears[bear] == "friendly":
        print('Hello' + bear + 'bear!')

HelloBrownbear!
HelloPolarbear!

In [41]:
# Example
# Objective: The program should print True only if n is a prime
n = 7 # some number
is_prime = True
for i in range(2,n): # Range starts from 2 and goes till n-1
    # Thus for n to be prime, there should be no number in the range which makes its remainder with it vanish
    if n%i == 0: # If this happens then n is definitely not a prime number
        is_prime = False
print(is_prime)

True

In [42]:
# Example
n = 100
number_times = 0
while n>=1:
    n//=2 # Equivalent to saying n = n//2 (// represents the floor division, where the decimal number is rounded down to the
          # closest whole number)
    number_times +=1 # Equivalent to saying number_times = number_times + 1
print(number_times)

# Code functioning:
# 100//2 -> 50 -> number_times = 1
# 50//2 -> 25 -> number_times = 2
# 25//2 -> 12 -> number_times = 3
# 12//2 -> 6 -> number_times = 4
# 6//2 -> 3 -> number_times = 5
# 3//2 -> 1 -> number_times = 6
# 1//2 -> 0 -> number_times = 7
# After this the loop terminates as n becomes less than 1 (n=0)

7

<h3>List Comprehensions</h3>

If we want to apply a particular operation to all the elements of a list, then create a new list that contains the results.

***Why List Comprehensions?***
* List Comprehensions are very fast
* List Comprehensions are very efficient (a lot can be accomplished in a single line)

In [2]:
# Example: we want to get a list with the squares of the numbers 0 to 9
squares = [] # Empty list
for i in range(0,10):
    square = i**2
    squares.append(square)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# Executing the above example using list comprehensions
squares2 = [j**2 for j in range(0,10)]
squares2

# Example of efficiency: Using list comprehensions we could achieve something which was taking 4 code lines initially in just 
# one code line

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# Example
# sum([list object])
sum([i**2 for i in range(0,3)])

5

In [6]:
# Example
# We want to sum the odd numbers from 0 through 9
sum([i for i in range(0,10) if i%2 != 0])

25

In [7]:
# Doing the above example without list comprehensions
sum = 0
for i in range(0,10):
    if i%2 != 0:
        sum = sum + i
sum

25

<h3>Reading and writing files</h3>

In [8]:
filename = 'SampleFile.txt'

for line in open(filename): # open(filename) creates a file object
    print(line) # The lie variable then loops over all the lines one by one in the file object

First Line

Second Line

Third Line

Even though we can't see it, each line (string) has an extra line break after it. For example:
`'First Line'` is effectively `'First Line \n'`. So even if in the original source text file, there is one linebreak between 2 line (i.e. only one enter), Python will output the lines with 2 linebreaks between them (2 enters).

We can use the `rstrip()` method in order to remove the extra linebreaks after the string.

In [9]:
for line in open(filename):
    line = line.rstrip() # Reassignment is done since strings are immutable objects which can't be modified
                         # The variable line will now point/refer to the new string object without the line breaks
    print(line)

First Line
Second Line
Third Line

In [10]:
# Example: we want to now split each line: First Line -> 'First' and 'Line'
for line in open(filename):
    line = line.rstrip().split(" ") # Important: the split method returns a list with the splitted strings as list elements
    print(line)

['First', 'Line']
['Second', 'Line']
['Third', 'Line']

In [11]:
# Writing a File
f = open('Output.txt','w') # f = open('Name of the file where we will write','w (for write)')
f.write('Python\n')
# The output file is saved in the same directory of the jupyter npotebook we are working on

7

In [12]:
f.close() # Closing the file object
# If the file object is not closed, the written text won't reflect in the output file

In [13]:
# Example
F = open('input.txt','w')
F.write('Hello\nWorld')
F.close()
# After this the file input.txt will contain the following:
# Hello (after this only one linebreak)
# World
lines = [] # Empty List
for line in open('input.txt'):
    lines.append(line.strip()) # Hello and then World will get appended to the empty list as seperate strings
print(lines)
# Expected Output: ['Hello','World']

['Hello', 'World']

<h2>Functions</h2>

* Functions are defined using the `def` keyword
* The values from the functions are returned using `return` keyword

In [14]:
# A function for adding 2 numbers
def add(a,b):
    mysum = a + b
    return mysum
add(23,12)

35

**All variables assigned in a function are local to that function only i.e. they exist only when the function runs and they are not global variables.**

In [15]:
# Using tuples to return multiple values from a function
def add_sub(a,b):
    mysum = a+b
    mysub = a-b
    return (mysum,mysub) # Using tuples to return multiple values

add_sub(10,2)

(12, 8)

In [16]:
# We can use 2 different function names for the same function operation
add

In [17]:
newadd = add

In [20]:
add(10,2) == newadd(10,2)
# Both functions are the same but with different names

True

In [22]:
# Example
def modifyList(list):
    list[0] = list[0]*10
    # No return value

In [29]:
L = [2,3,6,7]
M = modifyList(L) # Since lists are mutable objects, the original List
L

[20, 3, 6, 7]

In [30]:
def modifyList1(list):
    list[0] = list[0]*10
    return list # This function effectively returns the same list (with modifications)
M = modifyList1(L) # Basically now the variable name M refers to the same modified list object to which L refers.
M is L # M and L wboth will be the same list objects

True

In [20]:
# Returning multiple values from a function
def sumsub(a,b):
    c = a + b
    d = a - b
    return c,d

x,y = sumsub(2,1)
print(x,y)

3 1

In [22]:
# Returning multiple lists from a list
def randListGen():
    l1 = [0,1,2,4,5]
    l2 = [2,3,4,1,2]
    c = 2
    return l1,l2,c

a,b,c = randListGen()
print(a,b,c)

[0, 1, 2, 4, 5] [2, 3, 4, 1, 2] 2

<h3>Writing Simple Functions</h3>

The function scripts will be written seperately in an editor and the main script will be written in this Jupyter Notebook.

In [34]:
# Example 1
# Using the intersect.py function created in the directory of this jupyter notebook
from intersect import intersect # command to be given if a local function has to be used in the jupyter notebook
L1 = [1,2,3,4,5,6]
L2 = [10,9,8,7,6,5,4]
intersect(L1,L2)

[4, 5, 6]

In [49]:
# Example 2
# Random Password Generator
import random
from password import password
# Using random.choice(<any sequence like string or list>)
# password(10)

In [51]:
password(10) 
# For some reason, the imported random module is not getting recognized by Jupyter Notebook, whether the random module is
# imported into the function script or in the main executable
# If the random module is imported into the function file and then run on the interactive console of Spyder, it is working

NameError: name 'random' is not defined

***VERY VERY IMPORTANT***: *When the function script is modified, it should be run once, otherwise Python doesn't recognise any of the modifications in the function script.*